src/main/app/countryproxy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="${httpPort}" basePath="${basePath}" doc:name="HTTP Listener Configuration"/>
    <ws:consumer-config name="Web_Service_Consumer" wsdlLocation="${ws.wsdl.location}" service="${ws.service}" port="${ws.port}" serviceAddress="${ws.soap.address}" doc:name="Web Service Consumer"/>
    <flow name="countryproxyFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <logger message="&quot;Incoming parameter: &quot; + #[message.inboundProperties.'http.query.params'.name]" level="INFO" doc:name="Incoming msg Logger"/>
        <set-payload value="&lt;payload&gt;&lt;country&gt;#[message.inboundProperties.'http.query.params'.name]&lt;/country&gt;&lt;/payload&gt;
" doc:name="Set Payload (embed queryParam in xml to prepare for xslt)"/>
        <response>
            <json:xml-to-json-transformer doc:name="XML payload to JSON"/>
        </response>
        <response>
            <mulexml:xslt-transformer xsl-file="CountryResponseTransformer.xslt" maxIdleTransformers="2" maxActiveTransformers="5" doc:name="XSLT: SOAP Response into clean XML"/>
        </response>
        <response>
            <ws:consumer config-ref="Web_Service_Consumer" operation="${ws.operation}" doc:name="Web Service Consumer"/>
        </response>
        <response>
            <mulexml:xslt-transformer xsl-file="countryProxy.xslt" maxIdleTransformers="2" maxActiveTransformers="5" doc:name="XSLT: transform xml payload to CountryService SOAP Request">
                <mulexml:context-property key="countryName" value="#[message.inboundProperties.'http.query.params'.name]"/>
            </mulexml:xslt-transformer>
        </response>
    </flow>
</mule>
